<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-home" href="{{ url_for('views.home') }}">Home</a>
                </li>
    
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="nav-logout" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-dashboard" href="{{ url_for('views.project_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            {{ current_user.firstName[0] | upper }}  
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="nav-login" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-sign-up" href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>    

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-JQ3Qx7KZ2gKxGFAhfCXivZw9cmOnI3j3zXUj2DkpzG2edUXMe9k4/rfZ1p+Yb5D1"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
    ></script>

    {% block javascript %}
        <script type="text/javascript">
            function deleteNote(noteId) {
                fetch("/delete-note", {
                    method: "POST",
                    body: JSON.stringify({ noteId: noteId }),
                }).then((_res) => {
                    window.location.href = "/";
                });
            }
        </script>
    {% endblock %}
</body>
</html>